table {
    border-collapse: collapse;
    width: 40%;
}

h2
{
    margin-left: 3rem;
}

th, td {
    border: 1px solid #7e7e7e;
    text-align: left;
    padding: 8px;
    margin-left: 3rem;
}

th {
    background-color: #525050;
    color: whitesmoke;
}
