body{
    margin: 20px;
    }
    
    h2{
        text-align: justify;
        color: rgb(35, 7, 80);
        text-shadow: 2px 1px 1px;
    }
    
    
    p{
        font-size: larger;
    }
    
    .button{
        background-color:rgb(36, 173, 89);
        color: white;
        padding: 10px 20px;
        border-radius: 4px;
        border: 2px solid rgb(36, 173, 89);
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 15px;
    }
    
    button:hover
    {
        background-color: lightgreen;
    }
    
    input[type=text] {
        width: 50%;
       
        margin-left: 350px;
        text-align: center;
        box-sizing: border-box;
        padding: 16px 16px;
    }
    
    input[type=password] {
        width: 50%;
        margin-left: 350px;
        text-align: center;
        box-sizing: border-box;
        padding: 16px 16px;
    }
    
    input[type=email] {
        width: 50%;
        margin-left: 350px;
        text-align: center;
        box-sizing: border-box;
        padding: 16px 16px;
    }
    
    .register
    {
        width: 50%;
        margin-left: 350px;
        box-sizing:border-box;
        text-align: center;
        padding: 16px 16px;
        
    }
    
    input[type=submit]
    {
        border-radius: 6px;
    }
    
    .img
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    
      
    @keyframes animations {
        0% {background-color: pink;}
        10% {background-color: rgb(255, 115, 139);}
        20% {background-color: rgb(250, 32, 68);}
        30% {background-color: rgb(238, 95, 202);}
        40%{background-color: rgb(136, 15, 110);}
        50%{background-color: rgb(99, 7, 50);}
        60%{background-color: rgb(99, 7, 12);}
        70%{background-color: rgb(133, 10, 10);}
        80%{background-color: rgb(158, 6, 6);}
        90%{background-color: rgb(204, 24, 24);}
        100%{background-color: rgb(233, 19, 19);}    
    }
    
    form{
        transition: transform 0.3 ease-in-out;
        transition-delay: 2s;
    }
    
    form:hover{
        transform:scale(1.05);
    
    }
    